@model IEnumerable<string>

@{
    ViewBag.Title = "Monitor - Background Queue";
    Layout = "_Layout";
}

<h2>Background Queue</h2>

<ul class="list-group">
    @foreach (var task in Model)
    {
        <li class="list-group-item">@task</li>
    }
</ul>